<p-table [columns]="cols" [value]="users" [responsive]="true" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
    <ng-template pTemplate="caption">
        Lista de Jugadores
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Borrar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td >
                <button (click)="deleteConfirm()" mat-mini-fab color="warn" >
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button (click)="showDialogToAdd()" mat-fab color="primary" >
                <mat-icon>group_add</mat-icon>
              </button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Jugador" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="false"  [style]="{width: '70%'}">
    <div class="ui-g ui-fluid" *ngIf="user">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">nombre</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="nombre" [(ngModel)]="user.nombre" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">email</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="email" [(ngModel)]="user.email" />
            </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="year">password</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="password" [(ngModel)]="user.password" />
          </div>
      </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">posición</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="lstPosicion" [(ngModel)]="Selpos" (onChange)="user.idposicion = Selpos.id" optionLabel="descripcion"></p-dropdown>

            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="color">perfil</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="lstPerfil" [(ngModel)]="Selper" (onChange)="user.idperfil = Selper.id" optionLabel="descripcion"></p-dropdown>

            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-3">

            </div>
            <div class="ui-g-3">
                <button (click)="save()" mat-fab color="primary" >
                    <mat-icon>save</mat-icon>
                  </button>
            </div>
            <div class="ui-g-3">
                <button (click)="deleteConfirm()" mat-fab color="warn" >
                    <mat-icon>delete</mat-icon>
                  </button>
            </div>
            <div class="ui-g-3">

            </div>
        </div>
    </div>

</p-dialog>
